
label{
  height: 30px;
  margin-bottom: 5px;
}


form{
  width: 20vw;

}
  .flex-column {
    display: flex;
    flex-direction: column;
    
  }

  .form-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

  .label {
    margin-bottom: 5px;
  }

  .button-group {
    margin-top: 40px;
   display: flex;
    justify-content: space-between;
  
  }

  input {
    border-radius: 15px;
    height: 30px;
    border-color: white;
  }

  textarea {
    height: 100px;
    border-radius: 10px;
    border-color: white;
  }

  select {
    border-radius: 10px;
    border-color: white;
  }

  .save {
    background-color: #1395fd;
    color: white;
    border-radius: 15px;
    border: none !important;
    width: 200px;
    font-weight: bold;
  }

  .save:hover{
    cursor: pointer;
    background-color: blue;
  }

  ion-icon {
    color: white;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #e28375;
    font-weight: bold;
  }

  .icon:hover{
    background-color: red;
  }


  @media only screen and (max-width: 913px) {

    
  form{
  width: 70vw;

}

textarea {
  height: 17vh;
}

input, select, option , value{
  height: 5vh;
}

label{
  font-size: 130%;
  margin-bottom: 5px;
}

#categoria{
  font-size: 105%;
}

#lembrete{
  font-size: 110%;
}



  
}

